ENV=dev
PARALLEL=true
HEADLESS=false
IS_LOCAL=true
RETRY=0
WORKERS=1
URL=https://demo.playwright.dev/todomvc
QA_URL=https://demo.playwright.dev/todomvc
QA_SPECIFIED_TIMEOUT=60000
UAT_URL=https://demo.playwright.dev/todomvc
UAT_SPECIFIED_TIMEOUT=60000
TEST_TIMEOUT=120000         
EXPECT_TIMEOUT=20000        
ACTION_TIMEOUT=30000        
NAV_TIMEOUT=60000           
GLOBAL_TIMEOUT=3600000      
RESTFUL_API_BASE_URL=https://automationintesting.online
CRYPTO_SECRET=
RB_USERNAME=
RB_PASSWORD=