ENV=dev
PARELLAL=true
HEADLESS=true
RETRY=1
URL=https://demo.playwright.dev/todomvc
QA_URL=https://demo.playwright.dev/todomvc
QA_SPECIFIED_TIMEOUT=60000
UAT_URL=https://demo.playwright.dev/todomvc
UAT_SPECIFIED_TIMEOUT=60000